*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 11px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
a{
  text-decoration:none;
  color:white;
  padding:10px;
}
.head{
 display:flex;
 flex-direction:column;
 background:black;
 align-items:center;
 color:#fff;
 position:fixed;
 width:100%;
 height: 100px;
}
.logo img {
  margin-top:20px;
  margin-bottom: auto;
  padding:5px;
  width: 140px;
  border-radius: 70px;
  border: 1px solid gray;
}
.logo a img:hover{
    background:hsla(0, 0%, 100%, 0.185);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    margin:0;
    background:hsl(0, 0%, 0%);
  }
  .navbar ul{
    display:flex;
    flex-direction:row;
    list-style:none;
  }

.content-section{
    margin-top: 100px;
  display:flex;
  flex-direction:column;
align-items:center;
  justify-content:center;
  align-items:center;
  
}

h3{
  color:#12005e;
}
h4{
   color:#7c43bd;
}
 li:hover{
    border-bottom: 2px solid white;
  }
  .section_registro{
    display: flex;
    height: 20px;
  }




@media all and (max-width: 400px) {
   html {
     font-size: 5vw;
   }
  .head{
    align-items: center;
    
    position:relative;
    background-color: white;
}
 .navbar{
   background-color:white;
    position: fixed;
    bottom: 0;
  width: 100%;
  height: 10vh;
  color: white;
   }
.navbar ul{
    width:100%;  
    align-items: center;
    margin: 0;
    padding: 0;
   }
   .navbar ul li{
    width:100%;  
    text-align: center;
    background-color: black;
    margin: 5px;
    padding: 4px;
    border: 0;
   }
   .logo img{
       background-color: black;
      
   }
 }
.contact-section{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  background:#636264;
  color:white;
}
.contact-section h3{
  color:white;
}
.contact{
  border:solid 2px #fff;
  padding:1em;
}
