*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 11px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}